body{
    text-align: center;
background-color: beige;
}
#panther{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#widow{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#captain{
     width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#thor{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#end{
    width:  95%;
}
#doctor{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#spider{
    width: 333px;
    height: 200px;
    margin-bottom: 20px
}
#thanos{
    width: 333px;
    height: 200px;
    margin-bottom: 20px
}
#hulk{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#marvel{
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
}
#iron{
    width: 1000px;
    height: 500px;
    margin-bottom: 20px;
}